AI TECHNOLOGY

color: #FFF;

font-family: Roboto;

font-size: 86px;

font-style: normal;

font-weight: 800;

line-height: normal;
TEST FIELD

color: rgba(255, 255, 255, 0.70);

font-family: Roboto;

font-size: 64px;

font-style: normal;

font-weight: 800;

line-height: normal;
THE EVOLUTION OF TECH

color: #FFF;

font-family: Roboto;

font-size: 36px;

font-style: normal;

font-weight: 600;

line-height: normal;

letter-spacing: 5.4px;
A Journey Through the Decades of AI Advancements

color: #FFF;

text-align: center;

font-family: Roboto;

font-size: 32px;

font-style: normal;

font-weight: 400;

line-height: normal;
VISIT US

color: #FFF;

font-family: Roboto;

font-size: 32px;

font-style: normal;

font-weight: 600;

line-height: normal;
QUADATA.COM/AIAA

color: #FFF;

font-family: Roboto;

font-size: 32px;

font-style: normal;

font-weight: 600;

line-height: normal