/* YourComponent.css */

.container {
  position: relative;
  width: 100%;
  height: 200vh;
  /* Adjust the height as needed */
  overflow: hidden;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-repeat: no-repeat;
  height: 100%;
  background-image: url('/Background.jpg');
  background-size: cover;
  /* Adjust background size as needed */
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  text-align: center;
  color: white;
  /* Adjust text color as needed */
}

.content img {
  max-width: 50%;
  max-height: 50%;
}


.title_1 {
  font-family:  'Roboto', sans-serif;
  font-size: 86px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.title_2 {
  color: rgba(255, 255, 255, 0.70);
  font-family:  'Roboto', sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.desc_1 {
  color: #FFF;
  font-family:  'Roboto', sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 5.4px;
}

.desc_2 {
  color: #FFF;
  text-align: center;
  font-family:  'Roboto', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.visit {
  color: #FFF;
  font-family:  'Roboto', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.aiaa {
  color: #e0e0e0;
  font-family:  'Roboto', sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}