.takeYourBusiness {
  margin: 0;
}
.takeYourBusinessContainer {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 111.5%;
}
.craftingEngagingDigitalContainer {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 26px;
  font-family: var(--font-inter);
  color: var(--color-gainsboro);
}
.takeYourBusinessToTheForeParent {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-11xl);
}
.frameChild {
  position: relative;
  border-top: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 544px;
  height: 1px;
}
.bookYourAppointment {
  position: relative;
  font-weight: 500;
}
.zondiconsaddSolid {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.bookYourAppointmentParent {
  border-radius: var(--br-27xl);
  background-color: var(--color-crimson);
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-mini);
  gap: var(--gap-3xs);
}
.streamlinecustomerSupport1Icon {
  position: relative;
  width: 22px;
  height: 22px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.streamlinecustomerSupport1Wrapper {
  border-radius: var(--br-18xl);
  background: linear-gradient(
    153.91deg,
    #01e8fe,
    #12a8e3 36.46%,
    #1a87d5 63.02%,
    #1e78ce 82.81%,
    #2364c6
  );
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs);
}
.frameItem {
  position: relative;
  border-right: 2px solid var(--color-gray-500);
  box-sizing: border-box;
  width: 2px;
  height: 42px;
}
.aiPoweredAssistant {
  position: relative;
  font-size: var(--font-size-xs);
  color: var(--color-lightslategray-100);
}
.askLumidraxParent,
.frameContainer,
.frameDiv {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-11xs);
}
.frameContainer,
.frameDiv {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-3xs);
  font-size: var(--font-size-base);
}
.frameContainer {
  justify-content: flex-start;
  gap: var(--gap-6xl);
  font-size: var(--font-size-sm);
  font-family: var(--font-inter);
}
.frameGroup,
.frameWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.frameGroup {
  flex-shrink: 0;
  gap: var(--gap-31xl);
}
.frameWrapper {
  overflow: hidden;
  padding: var(--padding-174xl-5) var(--padding-51xl) var(--padding-174xl-5)
    var(--padding-131xl-5);
}
.lumidraxMobHide1Icon {
  position: relative;
  width: 453px;
  height: 560px;
  object-fit: cover;
}
.lumidraxMobHide1Wrapper {
  padding: var(--padding-81xl) var(--padding-118xl-5) var(--padding-81xl)
    var(--padding-61xl);
}
.frameParent,
.landingPageInner,
.lumidraxMobHide1Wrapper {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.landingPageInner {
  flex-direction: column;
  align-items: flex-start;
  background-image: url(/public/frame-468@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: var(--font-size-39xl);
  color: var(--color-white);
  font-family: var(--font-open-sans);
}
