.icroundStarIcon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.icroundStarParent {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-7xs);
  z-index: 0;
}
.promptAndReliable {
  margin: 0;
}
.promptAndReliableContainer {
  position: relative;
  line-height: 20px;
  z-index: 1;
}
.image16Icon {
  position: relative;
  border-radius: var(--br-22xl);
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.sengFoo {
  position: relative;
  font-weight: 600;
}
.editorStadiumAstro {
  position: relative;
  font-size: var(--font-size-xs);
  font-weight: 500;
  color: var(--color-slategray-200);
}
.image16Parent,
.sengFooParent {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-9xs);
}
.image16Parent {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  z-index: 2;
  font-size: var(--font-size-lg);
}
.vectorIcon {
  position: relative;
  width: 20.9px;
  height: 16px;
  object-fit: cover;
}
.frameParent,
.ridoubleQuotesR,
.ridoubleQuotesRWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.ridoubleQuotesR {
  overflow: hidden;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-10xs);
}
.frameParent,
.ridoubleQuotesRWrapper {
  flex-shrink: 0;
}
.ridoubleQuotesRWrapper {
  margin: 0 !important;
  position: absolute;
  top: -18px;
  left: 252.5px;
  border-radius: var(--br-lg);
  background-color: var(--color-crimson);
  justify-content: flex-start;
  padding: var(--padding-8xs);
  z-index: 3;
}
.frameParent {
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  justify-content: center;
  padding: var(--padding-xl) var(--padding-2xl) var(--padding-xl)
    var(--padding-xl);
  position: relative;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray-100);
  font-family: var(--font-inter);
}
