.landingPage1 {
  position: relative;
  border-radius: var(--br-3xs);
  width: 308px;
  height: 188.3px;
  object-fit: cover;
}
.euro2022Predictor {
  position: relative;
  letter-spacing: -0.02em;
}
.matchPredictorFor {
  position: relative;
  line-height: 24px;
}
.matchPredictorForStadiumastWrapper {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-darkgray-100);
}
.euro2022PredictorParent,
.landingPage1Parent {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.landingPage1Parent {
  gap: var(--gap-6xl);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-silver);
  font-family: var(--font-inter);
}
