.frameChild,
.groupIcon {
  position: relative;
  width: 43.8px;
  height: 49px;
  object-fit: cover;
}
.frameChild {
  width: 140.2px;
  height: 23px;
}
.groupWrapper {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.groupParent,
.menuHoverParent {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
}
.groupParent {
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.menuHoverParent {
  align-items: flex-start;
  justify-content: flex-start;
}
.iconamoonsearchBold {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.frameItem {
  position: relative;
  border-right: 2px solid var(--color-white);
  box-sizing: border-box;
  width: 2px;
  height: 26px;
}
.iconamoonsearchBoldParent,
.menu {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xl-5) 0 var(--padding-8xl-5) var(--padding-46xl);
  gap: var(--gap-4xs);
}
.menu {
  background-color: var(--color-gray-100);
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.2);
  padding: 0 var(--padding-131xl);
  gap: var(--gap-147xl);
}
