.readMore {
  position: relative;
  font-weight: 500;
}
.property1default {
  border-radius: var(--br-27xl);
  border: 2px solid var(--color-gray-300);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-6xl-5);
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-lightslategray-100);
  font-family: var(--font-inter);
}
