.eparrowDownIcon {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.eparrowDownWrapper {
  border-radius: var(--br-27xl);
  border: 1.5px solid var(--color-lightslategray-100);
  flex-shrink: 0;
  padding: var(--padding-2xs);
}
.eparrowDownWrapper,
.property1default {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
