.product {
  position: relative;
}
.productWrapper,
.property1default {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.productWrapper {
  flex-shrink: 0;
  padding: var(--padding-5xs) 0;
}
.property1default {
  padding: var(--padding-13xl) var(--padding-xl);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-lightslategray-100);
  font-family: var(--font-inter);
}
