.frameChild,
.groupIcon {
  position: relative;
  width: 43.8px;
  height: 49px;
  object-fit: cover;
}
.frameChild {
  width: 140.2px;
  height: 23px;
}
.groupParent,
.groupWrapper {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.groupParent {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-5xs);
}
.theAcquisitionOf {
  margin: 0;
}
.theAcquisitionOfContainer {
  position: relative;
  white-space: pre-wrap;
}
.frameContainer,
.frameWrapper,
.theAcquisitionOfKnowledgeIWrapper {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.frameContainer,
.frameWrapper {
  align-items: flex-start;
  justify-content: flex-start;
}
.frameContainer {
  gap: var(--gap-21xl);
}
.frameWrapper {
  padding: 0 var(--padding-105xl) 0 0;
  font-size: var(--font-size-sm);
  font-family: var(--font-heebo);
}
.eCommerce,
.solutionFor {
  position: relative;
}
.eCommerce {
  font-weight: 300;
}
.eCommerceParent,
.frameDiv,
.solutionForParent {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.eCommerceParent {
  justify-content: center;
  gap: var(--gap-5xs);
  font-size: var(--font-size-sm);
  color: var(--color-white);
}
.frameDiv,
.solutionForParent {
  justify-content: flex-start;
}
.solutionForParent {
  padding: 0 0 var(--padding-xl);
  gap: var(--gap-11xl);
}
.frameDiv {
  padding: 0 var(--padding-131xl) 0 0;
}
.home {
  position: relative;
  font-weight: 300;
  cursor: pointer;
}
.usefulLinksParent {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.streamlinecustomerSupport1Icon {
  position: relative;
  width: 22px;
  height: 22px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.streamlinecustomerSupport1Wrapper {
  border-radius: var(--br-18xl);
  background: linear-gradient(
    153.91deg,
    #01e8fe,
    #12a8e3 36.46%,
    #1a87d5 63.02%,
    #1e78ce 82.81%,
    #2364c6
  );
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs);
}
.frameItem {
  position: relative;
  border-right: 2px solid var(--color-gray-500);
  box-sizing: border-box;
  width: 2px;
  height: 42px;
}
.askLumidrax {
  position: relative;
  font-weight: 500;
}
.aiPoweredAssistant {
  position: relative;
  font-size: var(--font-size-xs);
  color: var(--color-lightslategray-100);
}
.askLumidraxParent,
.frameParent1 {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-11xs);
}
.frameParent1 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-xs);
}
.frameWrapper2 {
  flex-direction: column;
  align-items: flex-end;
  padding: 0 0 0 var(--padding-24xl);
}
.buttonParent,
.frameGroup,
.frameWrapper2 {
  flex-shrink: 0;
  display: flex;
  justify-content: flex-start;
}
.buttonParent {
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-81xl);
  color: var(--color-white);
}
.frameGroup {
  flex-direction: row;
  align-items: flex-start;
}
.frameInner {
  position: relative;
  border-top: 1px solid var(--color-gray-500);
  box-sizing: border-box;
  width: 1141px;
  height: 1px;
}
.frameWrapper3 {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-147xl) 0 0;
  font-family: var(--font-heebo);
}
.termsOfServiceWrapper {
  flex-shrink: 0;
  flex-direction: column;
  padding: 0 var(--padding-148xl) 0 0;
}
.frameParent,
.frameParent2,
.termsOfServiceWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent2 {
  flex-shrink: 0;
  flex-direction: row;
  font-size: var(--font-size-sm);
}
.frameParent {
  background-color: var(--color-gray-100);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-41xl) var(--padding-131xl) var(--padding-6xl);
  gap: var(--gap-6xl);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-lightslategray-100);
  font-family: var(--font-inter);
}
